@model GameViewModel

@{
    ViewData["Title"] = "Ludo - Game ID: " + Model.GameID;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ludo Game ID: @Model.GameID</h1>

<div class="row">
    @{ for (int i = 0; i < Model.Players.Count; i = i + 2)
        {
            string[] colors = new string[] { "danger", "success", "info", "warning" };
            <div class="col-lg-4">
                @for (int j = 0; j < 2 && i + j < Model.Players.Count; j++)
                {
                    var player = Model.Players[i + j];
                    <div class="card border-@colors[player.PlayerId] mb-3" style="max-width: 20rem;">
                        <div class="card-header card-title"><h3>@player.Name</h3></div>
                        <div class="card-body">
                            <div class="card-body card-columns" style="column-count: 2">
                                @{ foreach (var piece in player.Pieces)
                                    {
                                        <div class="card bg-@colors[player.PlayerId] mb-3" style="max-width: 50rem">
                                            @(piece.PieceId + 1)<br />
                                            Position: @piece.Position<br />
                                            State: @piece.State
                                        </div>
                                    }}
                            </div>
                        </div>

                    </div>
                }
            </div>

        }}

            <div class="col-lg-4">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header"><h3>@Model.Players[Model.CurrentPlayerID].Name's turn!</h3></div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <a asp-controller="Ludo" asp-action="RollDie">
                    <button type="button" class="btn btn-primary">ROLL DIE</button>
                    @*btn btn-primary disabled*@
                </a>
            </div>
    </div>
